.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: auto;
}

.intro__container {
  max-width: 830px;
}

.intro__title {
  margin: 0 0 40px;
  max-width: 830px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__quote {
  max-width: 738px;
  margin: 0 0 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
}

.intro__quote-author {
  max-width: 732px;
  margin: 0;
  text-align: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
}

.intro__text {
  max-width: 722px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 720px;
  }

  .intro__container {
    max-width: 720px;
  }

  .intro__title {
    margin: 0 0 50px;
    max-width: 707px;
    font-size: 45px;
    line-height: 1.09;
  }

  .intro__quote {
    max-width: 720px;
    margin: 0;
  }

  .intro__quote-author {
    position: relative;
    top: -8px;
    max-width: 720px;
  }

  .intro__text {
    max-width: 720px;
    margin: 32px 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
  }

  .intro__container {
    max-width: 288px;
  }

  .intro__title {
    margin: 0 0 40px;
    max-width: 288px;

    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    max-width: 288px;
    margin: 0 0 10px;
    line-height: 1.25;
  }

  .intro__quote-author {
    max-width: 288px;
  }

  .intro__text {
    max-width: 288px;
    margin: 32px 0 64px;
  }
}
