.photo-grid {
  margin-top: 118px;
}

.photo-grid__container {
  margin: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .photo-grid {
    margin-top: 64px;
  }

  .photo-grid__container {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-top: 38px;
  }

  .photo-grid__container {
    gap: 12px;
    grid-template-columns: auto;
    margin: 0 16px;
  }
}
