@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/intro.css);
@import url(../blocks/lead.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 1279px) {
  .header {
    padding-top: 30px;
    padding-bottom: 90px;
  }

  .header__logo {
    max-width: 254px;
    max-height: 66px;
  }

  .lead {
    max-width: 530px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 1.05;
    margin: 0 0 25px;
    max-width: 530px;
  }

  .lead__subtitle {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin-bottom: 90px;
  }

  .intro {
    max-width: 720px;
  }

  .intro__container {
    max-width: 720px;
  }

  .intro__title {
    margin: 0 0 50px;
    max-width: 707px;
    font-size: 45px;
    line-height: 1.09;
  }

  .intro__quote {
    max-width: 720px;
    margin: 0;
  }

  .intro__quote-author {
    position: relative;
    top: -8px;
    max-width: 720px;
  }

  .intro__text {
    max-width: 720px;
    margin: 32px 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__logo {
    max-width: 188px;
    max-height: 52px;
  }

  .lead {
    max-width: 288px;
  }

  .lead__title {
    max-width: 228px;
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin-bottom: 64px;
  }

  .intro {
    max-width: 288px;
  }

  .intro__container {
    max-width: 288px;
  }

  .intro__title {
    margin: 0 0 40px;
    max-width: 288px;

    font-size: 32px;
    line-height: 1.09;
  }

  .intro__quote {
    max-width: 288px;
    margin: 0 0 10px;
    line-height: 1.25;
  }

  .intro__quote-author {
    max-width: 288px;
  }

  .intro__text {
    max-width: 288px;
    margin: 32px 0 64px;
  }
}
